@page "/login"
@layout SinLayout
@using AppCursosUIBlazor.DTOs
@using AppCursosUIBlazor.Gateways.Interfaces
@using Microsoft.AspNetCore.Components


<EditForm Model="peticionInicioSesion">    
    <img class="mb-4" src="/images/uv.png" alt="" width="230" style="margin-left:100px">
    <h1 class="h3 mb-3 fw-normal text-center">Bienvenido. Para poder continuar favor de iniciar sesión</h1>

    <div class="form-floating">                
        <InputText @bind-Value="peticionInicioSesion.correoElectronico" type="email" class="form-control"  placeholder="Correo electrónico"/>                
        <label for="correoElectronico">Correo electrónico</label>
    </div>
    <div class="form-floating">
        <InputText @bind-Value="peticionInicioSesion.password" type="password" class="form-control"  placeholder="Contraseña"/>                
        <label for="password">Contraseña</label>
    </div>

    <div class="form-check text-start my-3">
        <!--<InputCheckbox @bind-Value="peticionInicioSesion.recordarme" class="form-check-input"/> -->
        <label class="form-check-label" for="recordarme">
            Recordarme
        </label>
    </div>
    <button class="btn btn-primary w-100 py-2" @onclick="Validar">Iniciar Sesión</button>            
    <p class="mt-5 mb-3 text-body-secondary">Universidad Veracruzana - Facultad de Estadística e Informática &copy; 2024</p>
</EditForm>        

@inject ILogger<Login> _logger;
@inject NavigationManager Navigation
@inject IManejadorIdentidad _identidadProvider
@code {
    private PeticionInicioSesion peticionInicioSesion {get; set;}

    protected override void OnInitialized() => peticionInicioSesion ??= new();

    private void Validar()
    {        
        _logger.LogInformation("...");
        var respuestaValidacion = _identidadProvider.ValidarUsuario(peticionInicioSesion);
        if (respuestaValidacion.correcto) {
            //HttpContext.Session.SetString("token_usuario", "token");
            Navigation.NavigateTo("", true);
        }            
    }

}